@import url('https://fonts.cdnfonts.com/css/google-sans');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff8f1;
  --foreground: #171717;
}

* {
  font-family: 'Product Sans' !important;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
